<div class="col-md-12">
  <h5>Country management</h5>
</div>

<div class="col-sm-12">
  <button class="btn btn-primary" (click)="editCity(cityEdit)">Add</button>
</div>

<table></table>

<ng-template #cityEdit let-modal>
  <div class="modal-header">
    <h4>Add new student</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('X')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <form #f="ngForm">
      <div class="row m-1">
        <div class="col">
          <label for="formCountryCode">Country Code:</label>
        </div>
        <div class="col">
          <input type="text" id="formCountryCode" name="formCountryCode" ngModel class="form-control">
        </div>
      </div>
      <div class="row m-1">
        <div class="col">
          <label for="formCountryName">Country name:</label>
        </div>
        <div class="col">
          <input type="text" id="formCountryName" name="formCountryName" ngModel class="form-control">
        </div>
      </div>
      <div class="row m-1">
        <div class="col">
          <label for="formCountryContinent">Continent:</label>
        </div>
        <div class="col">
          <select id="formCountryContinent" name="formCountryContinent" ngModel class="form-control" >
            <option *ngFor="let key of keys(continents)" value="{{key}}">{{continents[key]}}</option>
          </select>
        </div>
      </div>
      <div class="row m-1">
        <div class="col">
          <label for="formCountryDescription">Description</label>
        </div>
        <div class="col">
          <textarea id="formCountryDescription" name="formCountryDescription" ngModel class="form-control"></textarea>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="saveCity(f)">Save</button>
  </div>
</ng-template>
